$spotify-green: #1db954;
$secondary: #181818;
a {
  color: inherit;
  text-decoration: none;
}
input {
  padding: 10px 21px;
}
#artists {
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    padding: 15px 13px;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $spotify-green;
    color: $secondary;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  tr {
    background-color: $secondary;
    color: white;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
