$spotify-green: #1db954;
$secondary: #181818;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $secondary;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.button {
  padding: 10px 21px;
  background-color: $spotify-green;
  cursor: pointer;
  font-family: inherit;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
